.request_btn_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
}

.btn_request {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;
    background-color: #fff;
}

.btn_request:hover {
    background-color: #ccc;
}

.btn_cooperative_start {
    background-color: green;
}

.btn_cooperative_stop {
    background-color: red;
}